# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm

# Expo / CNG-generated native projects
.expo/
android/
ios/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Testing
coverage/

# Env
.env
.env*.local

# macOS
.DS_Store

# Editors
.vscode/*
!.vscode/extensions.json
.idea/

# TypeScript
*.tsbuildinfo
